# Default ignored files
/shelf/
/aws.xml
/encodings.xml
/indexLayout.xml
/workspace.xml
/vcs.xml
# Rider ignored files
/.idea.ExampleEasy.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
